:root {
  --text-color: #222;
  --item-title-color: #242bac;
  --btn-color: #ff7e1b;
  --white-color: #fff;
  --item-bg-color: rgba(191, 234, 233, .5);
}

.dark-mode {
  --text-color: #f2f2f2;
  --item-title-color: #fff;
  --btn-color: #fff;
  --white-color: #000;
  --item-bg-color: #2e5479;
}

 * {
  box-sizing: border-box;
}

:focus {
  outline: 2px dashed #ff7e1b;
  outline-offset: 2px;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-family: "Arial", sans-serif;
  color: var(--text-color);
  background-color: var(--white-color);
}

.container {
  width: 100%;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.button {
  cursor: pointer;
  border: 0;
  color: var(--white-color);
  background-color: transparent;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.6;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* HEADER */

.site-header {
  background-color: rgb(34, 34, 34);
}

.site-header__container {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.logo-link {
  display: flex;
  text-decoration: none;
  color: var(--btn-color);
  margin-right: auto;
  transition: color 0.5s ease;
}

.logo-link:hover {
  color: #11c81a;
}

.logo-link:focus {
  outline: 2px solid #ff7e1b;
}

.logotep {
  margin: 0;
}

.sitenav {
  display: flex;
}

.sitenav__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: 50px;
  list-style-type: none;
}

.sitenav__item:last-child {
  margin-left: 22px;
}

.sitenav__link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  color: var(--btn-color);
  padding: 4px 6px;
  border-radius: 10px;
  border: 2px solid var(--btn-color);
  transition: border 0.4s ease, color 0.4s ease, background-color 0.4s ease;
}

.sitenav__link:hover {
  border: 2px solid var(--white-color);
  color: var(--white-color);
  background-color: #11c81a;
}

.sitenav__link:active {
  opacity: 0.6;
}

.sitenav__icon-img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}




.site-header__block {
  width: 50px;
  overflow: hidden;
  position: relative;
}

.dark-more__cheked {
  width: 50px;
  height: 50px;
  position: relative;

}

.dark-more {
  display: flex;
  align-items: center;
}

.form__sun:checked ~ .dark-more__cheked .label-month {
  z-index: -3;
}

.form__sun:checked ~ .dark-more__cheked .label-month,
.form__month:checked ~ .dark-more__cheked .label-sun{
  z-index: 5;
  opacity: 1;
}

.label-month {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.label-sun {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}

.label-month {
  width: 100%;
  height: 100%;
  background-color: #222;
}

.dark-more__link {
  display: flex;
}

.main-content {
  flex-grow: 1;
  background-color: rgba(191, 234, 233, 0.3);
}

.main-content__hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
}

.hero__box {
  width: 610px;
  margin-right: 15px;
}

.hero__img-wrap {
  width: 350px;
  overflow: hidden;
  transition: transform 0.7s ease;
  border-radius: 50%;
  cursor: pointer;
}

.hero__img-wrap:hover {
  transform: scale(1.2);
}

.hero__img-block {
  display: flex;
}

.hero__img-block:hover {
  transform: translateX(-350px);
}

.hero__img {
  border-radius: 50%;
  object-fit: cover;
  min-width: 350px;
  min-height: 350px;
  transition: transform 0.6s ease, border-radius 0.5s ease;
}

.hero__img:hover {
  transform: rotate(365deg);
}

.hero__img-two:hover {
  transform: rotate(-365deg);

}

.hero__title {
  margin: 0;
  font-size: 58px;
  margin-bottom: 20px;
  font-weight: 700;
  text-decoration: underline;
  letter-spacing: 1px;
}

.hero__text {
  margin: 0;
  font-size: 32px;
  line-height: 38px;
}

.feature__list {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 70px;
  list-style-type: none;
}

.feature__item {
  display: flex;
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 2px 10px 20px 5px #0d718226;
  background-color: var(--item-bg-color);
}

.feature__item:not(:last-child) {
  margin-bottom: 32px;
}

.item__img-block {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  min-width: 250px;
  margin-right: 30px;
  text-align: center;
  padding-left: 30px;
  justify-content: center;
}

.item__img-link {
  display: flex;
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

.art-title {
  margin: 0;
}

.item__box {
  display: flex;
}

.item__box p{
  margin: 0;
  margin-left: 20px;
  font-weight: 700;
}

.art-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 32px;
}

.item-icon-img {
  object-fit: contain;
}

.item__content-block {
  display: flex;
  align-items: flex-start;
}

.item__content {
  width: 400px;
  margin-right: 60px;
}

.item__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 32px;
  color: var(--item-title-color);
}

.item__text {
  margin: 0;
  font-size: 18px;
}

.item__btn-block {
  min-width: 310px;
  display: flex;
  width: 310px;
  flex-wrap: wrap;
}

.item__link {
  display: inline-flex;
  padding: 4px 10px;
  align-items: center;
  font-size: 24px;
  border-radius: 6px;
  text-decoration: none;
  color: #222;
  box-shadow: 0 5px 10px 1px #0d718226;
  background-color: rgba(191, 234, 233, 0.5);
  flex-shrink: 0;
  white-space: nowrap;
}

.item__link:hover {
  background-image: linear-gradient(135deg, rgba(50, 12, 242, 0.5) 30%, rgba(255, 255, 255, 1) 60%, rgba(248, 4, 4, 1) 100%);

}

.item__link:first-child {
  margin-right: 20px;
}

.item__icon-img-brs {
  width: 40px;
  display: block;
  border-radius: 50%;
  background-color: #000;
}

.item__icon-img {
  margin-right: 15px;
}

.item__more-link {
  display: block;
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 26px;
  font-style: italic;
  color: var(--white-color);
  background-color: #11c81a;
  transition: background-color 0.2s ease;
}

.item__more-link:hover {
  background-color: #f89347;
}

.item__more-link:active {
  opacity: 0.6;
}

/* FOOTER */

.site-footer {
  background-color: #000;
}

.site-footer__container {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.site-footer__social-block {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.site-footer__logo-link {
  display: inline-block;
  color: #fff;
}

.social-block__logo-link {
  display: inline-flex;
  color: #fff;
  background-color: transparent;
  transition: color 0.3s ease;
}

.social-block__logo-link:hover {
  color: #11c81a;
}

.social-block__logo-link:not(:last-child) {
  margin-right: 20px;
}

.social-block__logo-img {
  display: block;
}


/* Akademnashr */
.site-wrap {
  flex-grow: 1;
  background-color: var(--item-bg-color);
}

.site-wrap__container {
  padding-top: 90px;
  padding-bottom: 90px;
}

.hero__akadem-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 50px;
  color:var(--text-color);
  text-align: center;
}

.hero__academ-content {
  display: flex;
  justify-content: space-between;
}

.hero__academ-list {
  padding: 0;
  margin: 0;
  margin-right: 10px;
  list-style-type: none;
}


.hero__academ-item {
  white-space: nowrap;
  align-items: center;
}

.hero__academ-item:not(:last-child) {
  display: flex;
  margin-bottom: 16px;
}

.hero__academ-item:last-child {
  margin-top: 30px;
}

.hero__academ-title {
  margin: 0;
  font-size: 28px;
  line-height: 30px;
}

.hero__academ-text {
  margin: 0;
  margin-left: 10px;
  font-size: 22px;
  line-height: 24px;
}

.hero__item-list {
  padding-top: 10px;
}

.hero__item-item {
  display: flex;
  list-style-type: decimal-leading-zero;
  align-items: center;
}

.hero__item-item:not(:last-child) {
  margin-bottom: 10px;
}

.hero__academ-item-title {
  margin: 0;
  font-size: 22px;
  line-height: 24px;
}

.hero__academ-item-text {
  margin: 0;
  margin-left: 8px;
  font-size: 20px;
  line-height: 22px;

}

.hero__img--block {
  display: flex;
  width: 630px;
  height: 600px;
  overflow: auto;
  box-shadow: 1px 3px 20px 4px #000;

}

.site-wrap__img {
  max-width: 600px;
  height: 1300px;
  object-fit: cover;
}

@media only screen and (max-width: 1150px) {
  .feature__item {
    justify-content: space-between;
  }

  .item__img-block {
    min-width: 230px;
    padding-left: 0;
  }

  .item__content-block {
    justify-content: space-between;
  }

  .item__content {
    margin-right: 40px;
  }

  .item__btn-block {
    min-width: 250px;
    max-width: 250px;
  }

  .item__link {
    width: 100%;
    margin: 0;
  }

  .item__link:first-child {
    margin: 0;
    margin-bottom: 12px;
  }
}



@media only screen and (max-width: 992px) {
  .container {
    max-width: 992px;
  }

  .feature__item {
    display: block;
    padding: 25px;
  }

  .hero__box {
    width: 50%;
  }

  .item__img-block {
    margin-right: 15px;
    padding-left: 15px;
  }

  .item__content {
    max-width: 350px;
    margin-right: 20px;
  }

  .item__img-block {
    display: none;
  }

  .item__content-block {
    justify-content: space-between;
  }

  .item__content {
    width: 55%;
    margin-right: 5%;
  }

  .item__icon-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .item__link:not(:last-child) {
    margin-right: 2%;
  }

  .item__more-link {
    width: 100%;
    font-size: 20px;
  }
}


@media only screen and (max-width: 768px) {
  .container {
    max-width: 768px
  }

  .sitenav__list {
    margin-right: 20px;
  }

  .main-content__hero {
    display: block;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 60px;
  }

  .hero__box {
    width: 100%;
    margin-right: 0;
  }

  .hero__title {
    font-size: 50px;
    margin-bottom: 16px;
  }

  .hero__text {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 40px;
  }

  .hero__img-wrap {
    margin: 0 auto;
  }

  .feature__item {
    display: block;
    padding: 25px 15px;
  }
}




@media only screen and (max-width: 576px) {
  .container {
    max-width: 576px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .sitenav__list {
    display: none;
  }

  .main-content__hero {
    padding: 50px 10px;
  }

  .hero__box {
    margin-right: 0;
  }

  .hero__title {
    margin-bottom: 10px;
    white-space: nowrap;
    font-size: 46px;
    text-decoration: none;
    letter-spacing: 0;
  }

  .hero__text {
    font-size: 26px;
    line-height: 1.2;
  }

  .hero__img-wrap {
    display: none;
  }

  .feature__list {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .feature__item {
    padding: 20px 14px;
  }

  .item__img-block {
    display: none;
  }

  .item__content-block {
    display: block;
  }

  .item__content {
    width: 100%;
    max-width: 100%;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .item__btn-block {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .item__link {
    width: 100%;
    max-width: 130px;
  }

  .item__more-link {
    margin-top: 0;
    font-size: 24px;
    background-color: transparent;
    text-decoration: underline;
    color: green;
  }

  .item__btn-block a:not(:last-child) {
    margin-right: 16px;
  }

  .item__link:first-child {
    margin: 0;
  }
}
